# Data Sneak

In [1]:
import pandas as pd

## Data 1

In [3]:
df1 = pd.read_excel('datasets/kalbe_data.xlsx')
df1.head()

   Day Category Product       Sales
0    1        A      A1  100.000000
1    2        A      A1  101.000000
2    3        A      A1  102.010000
3    4        A      A1  103.030100
4    5        A      A1  104.060401

In [4]:
df1.tail()

    Day Category Product       Sales
85   86        A      A1  196.980000
86   87        A      A1  197.964900
87   88        A      A1  198.954724
88   89        A      A1  199.949498
89   90        A      A1  200.949246

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       90 non-null     int64
 1   Category  90 non-null     object
 2   Product   90 non-null     object
 3   Sales     90 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.9+ KB